/* imports */
@import url("min/base/reset-default.min.css");

@import url("../fonts/ValueSansPro/stylesheet.css");

@import url("http://fonts.googleapis.com/css?family=Roboto");
/* 
 Default stylesheets
*/
:root {
   --color-blue: #4283EC;
   --color-blue-rgb: 66, 131, 236;
   --color-gray: #696B77;
   --color-gray-light: #F9F9F9;
   --color-gray-primary: #B5B5B5;
   --color-gray-secondary: #F5F5F5;
   --color-gray-tertiary: #FBFBFB;
   --color-black: #000;
   --color-black-hight: #242A33;
   --color-black-rgb: 0, 0, 0;
   --color-white: #fff;
   --color-danger: #E82A2A;
   --font-family-sans-serif: Roboto, sans-serif;
   --font-family-base-sans-serif: Value Sans Pro, sans-serif;
   --default-radius: 3px;
   --box-shadow-base: 0px 2px 20px rgba(var(--color-black-rgb), 0.03);
   --transition-base: all 0.3s ease-in-out;
   --transition-fade: opacity 0.15s linear;
   --transition-collapse: height 0.35s ease;
   --gap-1: 4px;
   --gap-2: 8px;
   --gap-3: 12px;
   --gap-4: 16px;
   --gap-5: 20px;
   --gap-6: 24px;
   --gap-7: 28px;
   --gap-8: 32px;
   --gap-9: 36px;
   --gap-10: 40px;
   --gap-11: 44px;
   --gap-12: 48px;
   --gap-13: 52px;
   --gap-14: 56px;
   --gap-15: 60px;
   --gap-16: 64px;
   --gap-17: 68px;
   --gap-18: 72px;
   --gap-19: 76px;
   --gap-20: 80px;
}

html,
body {
   scrollbar-color: var(--color-blue) var(--color-gray-light);
   scrollbar-width: thin;
   height: 100%;
   min-height: 100%;
}

body {
   font: normal 18px/1.3 var(--font-family-sans-serif);
   color: var(--color-gray);
   background-color: var(--color-white);
   -webkit-text-size-adjust: none;
   -webkit-tap-highlight-color: transparent;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

/* selection */
::-moz-selection {
   color: var(--color-white);
   background-color: rgba(var(--color-blue-rgb), 0.7);
}

::selection {
   color: var(--color-white);
   background-color: rgba(var(--color-blue-rgb), 0.7);
}

/* scrollbar */
::-webkit-scrollbar {
   background: var(--color-gray-light);
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: var(--color-blue);
}

::-webkit-scrollbar-thumb:hover {
   background: rgba(var(--color-blue-rgb), 0.9);
}

/* input */
input:-moz-placeholder {
   color: var(--color-gray-primary);
   text-overflow: ellipsis;
   text-indent: 0px;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

input::-moz-placeholder {
   color: var(--color-gray-primary);
   text-overflow: ellipsis;
   text-indent: 0px;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

input:-ms-input-placeholder {
   color: var(--color-gray-primary);
   text-overflow: ellipsis;
   text-indent: 0px;
   -ms-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

input::-webkit-input-placeholder {
   color: var(--color-gray-primary);
   text-overflow: ellipsis;
   text-indent: 0px;
   -webkit-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

/* input focus */
input:focus:-moz-placeholder {
   text-indent: 10em;
   color: transparent;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

input:focus::-moz-placeholder {
   text-indent: 10em;
   color: transparent;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

input:focus:-ms-input-placeholder {
   text-indent: 10em;
   color: transparent;
   -ms-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

input:focus::-webkit-input-placeholder {
   text-indent: 10em;
   color: transparent;
   -webkit-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

/* textarea */
textarea:-moz-placeholder {
   text-overflow: ellipsis;
   text-indent: 0px;
   color: var(--color-gray-primary);
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

textarea::-moz-placeholder {
   text-overflow: ellipsis;
   text-indent: 0px;
   color: var(--color-gray-primary);
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

textarea:-ms-input-placeholder {
   text-overflow: ellipsis;
   text-indent: 0px;
   color: var(--color-gray-primary);
   -ms-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

textarea::-webkit-input-placeholder {
   text-overflow: ellipsis;
   text-indent: 0px;
   color: var(--color-gray-primary);
   -webkit-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

/* textarea focus */
textarea:focus:-moz-placeholder {
   text-indent: 10em;
   color: transparent;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

textarea:focus::-moz-placeholder {
   text-indent: 10em;
   color: transparent;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

textarea:focus:-ms-input-placeholder {
   text-indent: 10em;
   color: transparent;
   -ms-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

textarea:focus::-webkit-input-placeholder {
   text-indent: 10em;
   color: transparent;
   -webkit-transform: text-indent .5s ease, color .5s ease;
   transform: text-indent .5s ease, color .5s ease;
   -webkit-transition: text-indent .5s ease, color .5s ease;
}

/* 
2. General Classes
*/
.text_left {
   text-align: left;
}

.text_right {
   text-align: right;
}

.text_center {
   text-align: center;
}

.text_uppercase {
   text-transform: uppercase;
}

.pull_left {
   float: left;
}

.pull_right {
   float: right;
}

.wrapper {
   overflow: hidden;
}

.invisible {
   opacity: 0;
   visibility: hidden;
}

.visible {
   opacity: 1;
   visibility: visible;
}

.clear {
   clear: both;
   width: 100%;
   line-height: 0;
   font-size: 0;
}

.strong_medium {
   font-weight: 500;
}

.clearfix::before, .clearfix::after {
   content: '';
   display: block;
}

.clearfix::after {
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

/* 
 Main
*/
.page_wrapp {
   min-height: 100%;
   position: relative;
}

/* 
 Basic Elements
*/
.container {
   max-width: 1240px;
   padding-left: 20px;
   padding-right: 20px;
   margin: auto;
}

/* 
 Blackout
*/
.blackout {
   color: var(--color-gray-primary);
}

/* 
 Forms
*/
input:not([type="checkbox"]):not([type="radio"]) {
   height: 50px;
   padding: var(--gap-4);
   width: 100%;
   background-color: var(--color-gray-light);
   border-radius: var(--default-radius);
   font-size: 16px;
   line-height: 1;
   color: var(--color-blue);
}

input:not([type="checkbox"]):not([type="radio"]):hover,
input:not([type="checkbox"]):not([type="radio"]):focus {
   outline: none;
}

textarea {
   width: 100%;
   height: 205px;
   background-color: var(--color-gray-light);
   border-radius: var(--default-radius);
   padding: var(--gap-4);
   font-size: 16px;
   line-height: 1.1;
   color: var(--color-blue);
   resize: none;
}

textarea.textarea_small {
   height: 50px;
}

label {
   display: block;
   margin-bottom: 10px;
   font-size: 13px;
   line-height: 1.15;
   text-transform: uppercase;
   color: var(--color-gray);
}

sub,
sup {
   color: var(--color-danger);
}

/* reset */
.v-select {
   min-width: 285px;
   background-color: var(--color-gray-light);
   border-radius: var(--default-radius);
   font-size: 16px;
}

.v-select.vs--open .vs__actions::after {
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   margin-bottom: 2px;
}

.vs--searchable .vs__dropdown-toggle {
   padding: 0;
   border: none;
}

.vs__search,
.vs__search:focus {
   border: none;
   margin: 0;
}

.vs__selected-options {
   padding: 0;
}

.vs--single .vs__selected {
   position: absolute;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   left: var(--gap-4);
   z-index: 2;
   padding: 0;
   margin: 0;
   line-height: 1;
   color: var(--color-blue);
}

.vs__actions {
   width: 30px;
   padding: 0;
   position: relative;
}

.vs__actions svg {
   display: none;
}

.vs__actions::after {
   content: '';
   position: absolute;
   top: 50%;
   left: 3px;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   width: 0;
   height: 0;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   border-top: 6px solid var(--color-gray);
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

.vs__clear {
   display: none;
}

/* 
 Arows
*/
.arrow {
   border: solid var(--color-black);
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 3px;
}

.arrow.right {
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
}

.arrow.left {
   -ms-transform: rotate(135deg);
   transform: rotate(135deg);
   -webkit-transform: rotate(135deg);
}

.arrow.up {
   -ms-transform: rotate(-135deg);
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
}

.arrow.down {
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
}

/* 
 Typography
*/
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6,
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--font-family-base-sans-serif);
   line-height: 1;
   color: var(--color-black-hight);
   margin-bottom: 20px;
   font-weight: 700;
}

h1,
.title-1 {
   font-size: 60px;
   line-height: 95.3%;
}

h2,
.title-2 {
   font-size: 40px;
   margin-bottom: 30px;
}

h3,
.title-3 {
   font-size: 24px;
   margin-bottom: 29px;
}

h4,
.title-4 {
   font-size: 22px;
}

h5,
.title-5 {
   font-size: 20px;
}

h6,
.title-6 {
   font-size: 18px;
}

.blackout h1,
.blackout .title-1,
.blackout h2,
.blackout .title-2,
.blackout h3,
.blackout .title-3,
.blackout h4,
.blackout .title-4,
.blackout h5,
.blackout .title-5,
.blackout h6,
.blackout .title-6 {
   color: var(--color-white);
}

.subtitle {
   font-family: var(--font-family-sans-serif);
   font-size: 14px;
   line-height: 16px;
   margin-bottom: 15px;
   color: var(--color-blue);
   text-transform: uppercase;
}

p:not(:last-child) {
   margin-bottom: 20px;
}

.middle_txt {
   font-size: 20px;
}

.middle_txt:not(:last-child) {
   margin-bottom: 28px;
}

.short_line_bottom {
   padding-bottom: var(--gap-15);
   position: relative;
}

.short_line_bottom::after {
   content: '';
   width: 100px;
   height: 3px;
   display: block;
   background-color: var(--color-gray-secondary);
   position: absolute;
   left: 0;
   bottom: 0;
}

/* 
 Buttons
*/
a,
button {
   cursor: pointer;
   color: rgba(var(--color-blue-rgb), 0.7);
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

a {
   text-decoration: none;
   font-size: 16px;
}

a:active, a:focus, a:hover {
   color: var(--color-blue);
   text-decoration: none;
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

a:visited {
   outline: none;
   text-decoration: none;
}

.btn {
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   font-size: 16px;
   line-height: 1.13;
   position: relative;
   text-align: center;
   min-width: 178px;
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

.btn:active, .btn:focus, .btn:hover {
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

.btn_default {
   padding: var(--gap-4);
}

.btn_rounted1 {
   border-radius: var(--default-radius);
}

.btn_blue_gradient {
   color: var(--color-white);
   background: -o-linear-gradient(350.61deg, #67A4FF 0%, #55CCFF 50%, #67A4FF 100%);
   background: linear-gradient(99.39deg, #67A4FF 0%, #55CCFF 50%, #67A4FF 100%);
   background-size: 200% auto;
}

.btn_blue_gradient .arrow {
   border-color: var(--color-white);
   -webkit-box-flex: 0;
   -ms-flex: none;
   flex: none;
   margin: 0 0 2px var(--gap-1);
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

.btn_blue_gradient:active, .btn_blue_gradient:focus, .btn_blue_gradient:hover {
   background-position: right center;
}

.btn_blue_gradient:active .arrow, .btn_blue_gradient:focus .arrow, .btn_blue_gradient:hover .arrow {
   margin-left: var(--gap-2);
}

.link_arrow {
   text-transform: uppercase;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   color: var(--color-blue);
   font-weight: 500;
}

.link_arrow .arrow {
   -webkit-box-flex: 0;
   -ms-flex: none;
   flex: none;
   border-color: var(--color-blue);
   margin: 0 0 2px var(--gap-2);
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

.link_arrow:active, .link_arrow:focus, .link_arrow:hover {
   color: rgba(var(--color-blue-rgb), 0.7);
}

.link_arrow:active .arrow, .link_arrow:focus .arrow, .link_arrow:hover .arrow {
   margin-left: var(--gap-3);
}

/* 
 lists
*/
.list_with_icons li {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   color: var(--color-black-hight);
}

.list_with_icons li:not(:last-child) {
   margin-bottom: 35px;
}

.list_with_icons li .list_icon {
   -webkit-box-flex: 0;
   -ms-flex: none;
   flex: none;
   width: 30px;
   margin-right: 25px;
}

/* 
 Header
*/
.header {
   padding: 23px 0 17px;
   background-color: var(--color-white);
   position: sticky;
   position: -webkit-sticky;
   top: 0;
   z-index: 999;
   -webkit-box-shadow: var(--box-shadow-base);
   box-shadow: var(--box-shadow-base);
}

.header .header_inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.header .header_inner_right {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.header .header_tel_wrapp:not(:last-child) {
   margin-right: 80px;
}

.header .header_tel_wrapp a {
   color: var(--color-grey);
}

.header .header_tel_wrapp a:active, .header .header_tel_wrapp a:focus, .header .header_tel_wrapp a:hover {
   color: var(--color-blue);
}

.header .header_tel_wrapp .header_tel_btn {
   display: none;
}

.header .header_tel_wrapp .header_tel_list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}

.header .header_tel_wrapp .header_tel_list li:not(:last-child) {
   margin-right: 30px;
}

.header .header_language {
   position: relative;
}

.header .header_language .header_language_btn {
   position: relative;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   color: var(--color-blue);
}

.header .header_language .header_language_btn:active, .header .header_language .header_language_btn:focus, .header .header_language .header_language_btn:hover {
   color: rgba(var(--color-blue-rgb), 0.7);
}

.header .header_language .header_language_btn .arrow {
   -webkit-box-flex: 0;
   -ms-flex: none;
   flex: none;
   -ms-flex-item-align: center;
   align-self: center;
   margin: 0 0 var(--gap-1) var(--gap-1);
   border-color: var(--color-blue);
   -webkit-transition: var(--transition-base);
   -o-transition: var(--transition-base);
   transition: var(--transition-base);
}

.header .header_language .header_language_list {
   opacity: 0;
   height: 0;
   visibility: hidden;
   pointer-events: none;
   position: absolute;
   top: 100%;
   right: 0;
   padding: var(--gap-5);
   -webkit-box-shadow: var(--box-shadow-base);
   box-shadow: var(--box-shadow-base);
   background-color: var(--color-white);
   -webkit-transition: var(--transition-fade);
   -o-transition: var(--transition-fade);
   transition: var(--transition-fade);
}

.header .header_language.active .header_language_btn .arrow {
   -ms-transform: rotate(-135deg);
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
   margin-bottom: 0;
}

.header .header_language.active .header_language_list {
   opacity: 1;
   visibility: visible;
   height: auto;
   pointer-events: auto;
}

/* 
   footer
*/
.footer {
   background-color: var(--color-black);
   padding: var(--gap-8) 0;
   color: var(--color-white);
   position: sticky;
   position: -webkit-sticky;
   top: 100%;
}
