/*  
 RESPONSIVE LAYOUTS
*/
@media only screen and (max-width: 1440px) {
  /* base */
   h1,
  .title-1 {
      font-size: 45px;
   }

   h2,
  .title-2 {
      font-size: 38px;
   }

   .section_main {
      padding-bottom: 195px;
      padding-top: 100px;
   }

   .section_about {
      padding-top: 120px;
      padding-bottom: 120px;
   }
}

@media only screen and (max-width: 1270px) {
  /* base */
   h1,
  .title-1 {
      font-size: 45px;
   }

   h2,
  .title-2 {
      font-size: 35px;
   }

   .section_main {
      padding-bottom: 150px;
      padding-top: 80px;
   }

   .section_about {
      padding-top: 80px;
      padding-bottom: 80px;
   }

   .section_about .section_about_inner .section_about_col:first-child {
      padding-right: 50px;
   }

   .section_about .section_about_inner .section_about_col:last-child {
      padding-left: 50px;
   }

   .section_form_offer {
      margin-top: -80px;
   }

   .form_offer .form_offer_row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-left: -12px;
      margin-right: -12px;
   }

   .form_offer .form_offer_row .form_offer_col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      padding-left: 12px;
      padding-right: 12px;
   }

   .form_offer .form_offer_row .form_offer_col:nth-child(1n+3) {
      margin-top: 25px;
   }

   .section_services .section_services_inner .section_services_col_desc {
      padding: 70px 0 50px 70px;
   }
}

@media only screen and (max-width: 767px) {
  /* base */
   body {
      font-size: 14px;
   }

   h1,
  .title-1 {
      margin-bottom: 17px;
      font-size: 40px;
   }

   h2,
  .title-2 {
      font-size: 26px;
      margin-bottom: 20px;
   }

   .subtitle {
      font-size: 12px;
      margin-bottom: 10px;
   }

   .short_line_bottom {
      padding-bottom: 0;
   }

   .short_line_bottom::after {
      display: none;
   }

   .middle_txt {
      font-size: 18px;
   }

   .middle_txt:not(:last-child) {
      margin-bottom: 22px;
   }

   label {
      font-size: 11px;
      line-height: 1.18;
      margin-bottom: 8px;
   }

   textarea,
  input:not([type="checkbox"]):not([type="radio"]) {
      font-size: 14px;
   }

   .btn {
      font-size: 14px;
   }

   .btn_default {
      padding: 18px var(--gap-4);
   }

   .v-select {
      min-width: initial;
      font-size: 14px;
   }

   .arrow {
      border-width: 0 1px 1px 0;
   }

   .header {
      padding: 21px 0 19px;
   }

   .header .logo {
      max-width: 74px;
   }

   .header .logo img {
      max-height: 22px;
   }

   .header .header_tel_wrapp {
      position: relative;
   }

   .header .header_tel_wrapp:not(:last-child) {
      margin-right: 22px;
   }

   .header .header_tel_wrapp .header_tel_btn {
      display: inline-block;
   }

   .header .header_tel_wrapp .header_tel_list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;
      opacity: 0;
      height: 0;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      right: 0;
      padding: var(--gap-5);
      -webkit-box-shadow: var(--box-shadow-base);
      box-shadow: var(--box-shadow-base);
      background-color: var(--color-white);
      -webkit-transition: var(--transition-fade);
      -o-transition: var(--transition-fade);
      transition: var(--transition-fade);
   }

   .header .header_tel_wrapp .header_tel_list li:not(:last-child) {
      margin: 0 0 20px 0;
   }

   .header .header_tel_wrapp.active .header_tel_list {
      opacity: 1;
      visibility: visible;
      height: auto;
      pointer-events: auto;
   }

   .section_main {
      padding-top: 127px;
      padding-bottom: 50px;
   }

   .section_main .main_col_desc {
      max-width: 366px;
   }

   .section_main .main_col_left {
      display: none;
   }

   .section_main .main_col_right {
      left: 0;
      width: 100%;
      background-size: 244% auto;
      background-position: 2% -90px;
      overflow: hidden;
   }

   .section_main .main_col_right::before {
      content: '';
      position: absolute;
      width: 600px;
      height: 645px;
      left: -23px;
      top: -92px;
      background: -webkit-gradient(linear, left top, right top, color-stop(3.67%, #FFFFFF), color-stop(70.33%, rgba(255, 255, 255, 0)));
      background: -o-linear-gradient(left, #FFFFFF 3.67%, rgba(255, 255, 255, 0) 70.33%);
      background: linear-gradient(90deg, #FFFFFF 3.67%, rgba(255, 255, 255, 0) 70.33%);
   }

   .section_form_offer {
      margin-top: 0;
   }

   .section_form_offer .form_offer {
      margin-left: -20px;
      margin-right: -20px;
   }

   .form_offer {
      padding: var(--gap-8) var(--gap-5) var(--gap-5);
   }

   .form_offer textarea {
      height: 100px;
   }

   .form_offer .form_offer_row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
   }

   .form_offer .form_offer_row + .form_offer_row {
      margin-top: 20px;
   }

   .form_offer .form_offer_row .form_offer_col {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
      flex: 1 1 100%;
   }

   .form_offer .form_offer_row .form_offer_col:nth-child(1n+2) {
      margin-top: 20px;
   }

   .section_about {
      padding-top: 50px;
      padding-bottom: 50px;
   }

   .section_about .list_with_icons {
      padding-top: 0;
   }

   .section_about .section_about_inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .section_about .section_about_inner .section_about_col:not(:last-child) {
      margin-bottom: 30px;
   }

   .section_about .section_about_inner .section_about_col:first-child, .section_about .section_about_inner .section_about_col:last-child {
      padding: 0;
      width: 100%;
   }

   .list_with_icons li:not(:last-child) {
      margin-bottom: 25px;
   }

   .list_with_icons li .list_icon {
      width: 25px;
      margin-right: 15px;
   }

   .section_services::after {
      display: none;
   }

   .section_services h2 {
      margin-bottom: 30px;
   }

   .section_services p ~ p:not(:last-child):last-of-type {
      margin-bottom: 20px;
   }

   .section_services .section_services_col_bg {
      position: static;
      width: auto;
      height: 179px;
      margin-right: -20px;
      margin-left: -20px;
   }

   .section_services .section_services_inner .section_services_col_desc {
      padding: 20px 0 30px;
      width: 100%;
   }
}

@media only screen and (max-width: 469px) {
   .form_offer .btn {
      width: 100%;
   }

   .section_main .main_col_right {
      background-size: 344% auto;
   }
}
