/**
 * Typography
 * =================================
 * - Base
 * - Paragraphs
 * - Headings
 *
 */

body {
    // font-family: ;
    // line-height: ;
    // color: ;
}


/**
 * Paragraphs
 */

p {
    // font-family: ;
}


/**
 * Headings
*/

h1,
h2,
h3,
h4,
h5,
h6 {}

// Use the helper classes to emulate styles for another element
// For example: h3.h1 or h3.alpha
h1,
.head-1 {}

h2,
.head-2 {}

h3,
.head-3 {}

h4,
.head-4 {}

h5,
.head-5,
h6,
.head-6 {}

// https://justmarkup.com/log/2015/07/dealing-with-long-words-in-css/
.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}